@page
@model AutoCompanyWebApplication.Pages.HRPages.ViewAllDriversModel
@{
	ViewData["Title"] = "All drivers";
}

<div class = "text-center">
	<h2>List of all drivers</h2>
	<a class = "button-35" href="\HRPages\AddingNewDriver">New driver</a>
	<table class="table">
		<thead>
			<tr> 
				<th>ID</th>
				<th>Surname</th>
				<th>Name</th>
				<th>MiddleName</th>
				<th>Birthday</th>
				<th>AdmissionYear</th>
				<th>Experience</th>
				<th>Address</th>
				<th>Telephone</th>
				<th>Buttons</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in ViewAllDriversModel.drivers)
			{
				<tr>
					<td>@item.Id</td>
					<td>@item.Surname</td>
					<td>@item.Name</td>
					<td>@item.MiddleName</td>
					<td>@item.Birthday</td>
					<td>@item.AdmissionYear</td>
					<td>@item.Experience</td>
					<td>@item.Address</td>
					<td>@item.Telephone</td>
					<td>
						<a class = "button-35" href="/HRPages/EditingDriver?ID=@item.Id">Edit</a>
						<a class = "button-35" href="/HRPages/DeletingDriver?ID=@item.Id">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>